* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 80px 1fr;
  overflow-x: hidden;
}

.nav {
  margin: 0;
  padding: 0;
}
.nav .navigation-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 80px;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
}
.nav .navigation-bar .count {
  color: white;
  position: relative;
  font-size: 17px;
  left: -16px;
  top: -20px;
}
.nav h1 {
  text-align: center;
  color: #F1D5BB;
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}
.nav a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
}
.nav a:hover {
  background-color: #F1D5BB;
  color: black;
}
.nav .active {
  background-color: #F1D5BB;
  color: black;
}

section .flexContainer:nth-child(1) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
section .flexContainer {
  text-align: center;
  background-color: #F1D5BB;
  padding: 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
section .flexContainer img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
section .flexContainer input {
  width: 100%;
  max-width: 50px;
  padding-left: 10px;
  outline: none;
  border-color: black;
  border-radius: 8px;
}
section .flexContainer .times {
  display: none;
}
section .flexContainer .times:hover {
  cursor: pointer;
}
section .flexContainer button {
  background-color: black;
  color: white;
  padding: 3px 20px;
  border-radius: 8px;
}
section .checkoutContainer {
  margin-top: 50px;
}
section .checkoutContainer .checkout {
  text-align: center;
  border: 1px solid #F1D5BB;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
section .checkoutContainer .checkout div:nth-child(1) {
  background-color: #F1D5BB;
  padding: 15px 10px 20px 10px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}
section .checkoutContainer .checkout div:nth-child(1) button {
  background-color: black;
  color: white;
  padding: 4px 10px;
  border-radius: 8px;
}
section .checkoutContainer .checkout div:nth-child(1) button:hover {
  background-color: #F1D5BB;
  color: black;
}
section .checkoutContainer .checkout div:nth-child(2) {
  padding: 10px 10px;
  margin-top: 15px;
}
section .checkoutContainer .checkout div:nth-child(2) button {
  margin-top: 25px;
  background-color: black;
  color: white;
  margin-bottom: 15px;
  padding: 2px 20px;
  border-radius: 8px;
}
section .checkoutContainer .checkout div:nth-child(2) button:hover {
  background-color: #F1D5BB;
  color: black;
}
section .checkoutContainer .checkout input {
  margin-top: 15px;
  width: 100%;
  max-width: 200px;
  outline: none;
  border-radius: 8px;
  border-color: black;
  padding: 4px 10px;
}

@media screen and (min-width: 576px) {
  section .checkoutContainer {
    margin-top: 0;
  }
  section .checkoutContainer .checkout div:nth-child(2) button {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1050px) {
  section .flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .cancelButton {
    display: none;
  }
  section .flexContainer .times {
    display: inline;
  }
}

/*# sourceMappingURL=cart.css.map */
